<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Exec DB Report</title>
</head>

<body>
<form id="form1" name="form1" method="get" action="execDBReport.html">
   <input name="id" type="hidden" value="99" />
   <table style="min-width:400px;" border='1'>
   
    <tr>
      <td style="width:33%;"><label for="pp1">pp1</label></td>
      <td><input name="pp1" type="text" id="pp1" value="vvv1" size="10" maxlength="10" /></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" name="submit" id="submit" value="Submit" /></td>
    </tr>
   
   </table>

</form>
</body>
</html>
