<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Ruby Test</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1" /> 
</head>
<%
   prCache = SystemProperties.instance
   
   htm     = ""
   theProp = params[:prop]
   if theProp == nil
      props   = prCache.getAll
      props.each { |prop| htm += "<tr><td align='center'>#{prop.id}</td><td>#{prop.name}</td><td>#{prop.value}</td></tr>" }
   else
      pval = prCache.getProperty(theProp, "not-found")
	  htm  = "<tr><td>-</td><td>#{theProp}</td><td>#{pval}</td></tr>"
   end
%>

<body>
  <table width='700' cellpadding='0' border='0' >
   <tr>
    <th width='5%'>ID</th><th align='left' width='40%'>Name</th><th align='left'>Value</th>
   </tr>
  <%= htm %>
  </table>
</body>

</html>